@using System.Runtime.InteropServices
@inherits LayoutComponentBase
@attribute [IgnoreAntiforgeryToken(Order = 700)]

<section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <span class="is-size-2">🤬 Potty Mouth</span>
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroC">
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-info is-outlined is-large" title="GitHub"
                               target="_blank" href="https://github.com/IEvangelist/profanity-filter">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>GitHub</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            @Body
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
       <div class="content has-text-centered">
            <div class="columns">
                <p class="column">
                    <strong>
                        🤬 Potty Mouth
                    </strong> by
                    <a href="https://davidpine.net" target="_blank">
                        David Pine.
                    </a>
                </p>
                <p class="column">
                    The <a href="https://github.com/IEvangelist" target="_blank">
                        <i class="fab fa-github"></i> source code
                    </a> is licensed
                    <a href="https://github.com/IEvangelist/profanity-filter?tab=MIT-1-ov-file#readme">
                        MIT.
                    </a>
                </p>
                <p class="column">
                    @RuntimeInformation.FrameworkDescription
                </p>
            </div>
        </div>
    </div>
</section>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
